* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("https://images.pexels.com/photos/2406395/pexels-photo-2406395.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
}

.feature > * {
  margin: 10px;
}

button {
  background-color: rgba(red, green, blue, alpha);
  border: none;
  padding: 5px;
  border-radius: 5px;
}
p {
  font-family: cursive;
  font-size: 400%;
  color: aquamarine;
}
